{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>{{ task.title }}</h1>
        <pre>{{ task.activationDate|date('d-m-Y m:h') }}||{{ task.deactivationDate|date('d-m-Y m:h') }}</pre>
        <div style="width: 500px; word-wrap: break-word">
        {{ task.description }}
        </div>
        <a href="{{  url('teacher_task_update',{'idTask': task.id}) }}">update</a>
        <a href="{{  url('teacher_task_delete',{'idTask': task.id}) }}">delete</a>
        <a href="{{  url('teacher_task_answers',{'idTask': task.id}) }}">see answers</a>
    </div>
{% endblock %}
