{% extends 'base.html.twig' %}

{% block title %}Hello TeacherController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" >
    <h1>Add task</h1>
    <a href="{{  url('teacher_task_add')}}">add</a>
    <h1>Current tasks</h1>
    {% for task in tasks %}
        {% if date(task.deactivationDate) < date()%}
            <p><a href="{{  url('teacher_task',{'id': task.id}) }}">{{task.title}}|{{ task.deactivationDate|date('d-m-Y m:h') }}</a></p>
        {% endif %}
    {% endfor %}
    <h1>Expired tasks</h1>
    {% for task in tasks %}
        {% if date(task.deactivationDate) > date()%}
            <p><a href="{{  url('teacher_task',{'id': task.id}) }}">{{task.title}}|{{ task.deactivationDate|date('d-m-Y m:h') }}</a></p>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
